@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-VariableFont_opsz\,wght.ttf);
}

*{
    margin: 0;
    font-family: 'Inter';
}


.cabecalho nav {
    background-color: #F2F2F2;
    display: flex;
    padding: 5px;

    justify-content: space-around;

    height: 70px;
    align-items: center;
}

.navegacao h1 {
    font-size: 18px;
    font-weight: 900;
}

.navegacao>ul{
    list-style: none;
    display: flex;
}

.navegacao>ul a{
    text-decoration: none;
    color: #1E1E1E;
      
    margin: 1px;
}


.menu-principal>li a{
    margin: 3px;
    padding: 5px;
}

.menu-principal>li a:hover{
    /* text-decoration: underline; */
    transition: 0.3s;

    background-color: #1E1E1E;
    color: #F2F2F2;
    border-radius: 5px;

}

.navegacao>ul i{
    font-size: 16px;
    padding: 5px;
}

.link-ativo i{
    color: #F2F2F2;
    background-color: #1E1E1E;

    border-radius: 5px;

}

.banner{
    height: 100vh;
    background-color: tomato;
}

.banner>img {
    height: 100%;
    width: 100%;

    object-fit: cover;

}

.produtos {
    height: 100vh;
}

.produtos>h1 {
    padding: 30px;
    text-align: center;
    font-size: 30px;
}

.grid-box{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);

    gap: 10px;

    padding: 20px 10% 5px 10%;
    
}

.produtos figure{
    height: 380px;
    width: 220px;

    border-radius: 20px;
    padding: 10px;

    background-color: #F2F2F2;
}

.produtos figure>img {
    width: 100%;
    height: 200px;

    border-radius: 20px;

    object-fit: cover;
    object-position: top;
}

.produtos figure>figcaption>p{
    margin-top: 10px;

    width: 100%;

    overflow: hidden;
    display: -webkit-box;
    line-clamp: 4;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}